
<div class="show">
  <br><br>
  <h1><%=@task.task_name%></h1>  
  <br><br>
  <div class="content">
    <table class="table">
      <thead>
        <tr>
          <th>内容</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= simple_format @task.content%></td>
        </tr>
        <tr>
          <td>作成日：<%=  @task.created_at.strftime("%Y-%m-%d")%></td>
        </tr>
      </tbody>
    </table>
    <%= link_to "削除", task_path(@task.id),method: :delete%>
  </div>
  <div>
    <p>完了したらボタンを押そう！</p>
    <%=button_to "完了！", action="#{task_path(@task.id)}",method: "put", class: "btn btn-primary" %>
  </div>


</div>
  <% if user_signed_in? && current_user.id == @task.user.id %>
  
  <% end %>
  
