<!DOCTYPE html>
<html>

  <head>
    <title>YourLeveling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="header">
      <% if user_signed_in? %>
        <div class="logo"> 
          <%= link_to "Your Leveling", root_path%>
        </div>
  
        <div class="menu">
          <div class="name menu-content">
            <%= link_to "#{current_user.name} : Lv.#{current_user.level}", user_path(current_user.id) %>   <span class="bar-button">+</span>
          </div>

        </div>
        
      <%else%>
        <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
        <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
      <%end%>
    </div>
  </header>
    <div class="side-bar">
      <div class="logout">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
      </div>
  </div>
          
  <body>
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
