<!DOCTYPE html>
<html>
  <head>
    <title>YourLeveling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if user_signed_in? %>
    <%= link_to "#{current_user.name}:Lv.#{current_user.level}", root_path %>
    <%= link_to "新しい習慣！", new_task_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
  <%else%>
    <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
    <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
  <%end%>
  <body>
    <%= yield %>
  </body>
</html>
